@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply scroll-smooth 
  }
  body {
    @apply max-w-6xl mx-auto flex flex-col min-h-screen pt-8 px-8 
  }

  main {
    @apply  max-w-7xl mt-8
  }
  
  h1 {
    @apply text-xl font-bold capitalize
  }

  h2 {
    @apply text-lg font-semibold text-pretty capitalize
  }

  h3 {
    @apply text-base font-semibold text-pretty capitalize
  }

  p {
    @apply text-sm text-pretty
  }
}


@layer components {

  /* COLORS ******************* */

  .colors {
  @apply  text-[#e19191] dark:text-green-200
  }

  .decorationColors {
    @apply decoration-[#e19191] dark:hover:decoration-green-200
  }

  /* COMPONENTS CSS */

  .navLink {
    @apply  text-sm transition delay-100 colors hover:underline block py-2 px-3 cursor-pointer
  }

  .footerLink {
    @apply  text-xs transition delay-75 underline decoration-1  underline-offset-4 hover:decorationColors block py-2 px-1 cursor-pointer
  }

  .links {
    @apply  text-sm transition delay-75 underline decoration-1 hover:decoration-2 underline-offset-4 hover:decorationColors block py-2 px-3 cursor-pointer
  }

  .btn-cta {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
  }

  .accent {
    @apply font-semibold colors
  }

  .tagspill {
    @apply flex items-center h-4 bg-[#e19191] dark:bg-green-200 text-white dark:text-black text-xs px-2 rounded-sm
  }
  
  .section {
    @apply  bg-[#e6e9ef] dark:bg-[#303132] px-4 py-8 shadow-sm
  }

  .bgProyect {
    @apply sm:w-24 h-5 pl-1 flex justify-start items-center text-white dark:text-black bg-zinc-500 dark:bg-zinc-300 text-xs
  }

  .bgSkills {
    @apply flex items-center h-4 text-white dark:text-black text-xs px-2 bg-lime-500 dark:bg-lime-200
  }

  /* ANIMATIONS */

  .blink {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
}